/**登录器**/
html { height: 100%; }
body { height: 100%; margin: 0; font: normal 12px/1.5 Tahoma, Arial; color: #949bae; overflow-x: hidden; }
p, li, ul, ol, h1, h2, h3, h4, h5, h6, dl, dd, dt, img, a, div, td { margin: 0px; padding: 0px; border: 0px; word-wrap: break-word; word-break: normal; list-style: none; }
input, textarea, select { margin: 0px; padding: 0px; font-size: 12px; font-family: Tahoma }
* { padding: 0; margin: 0; }
a{text-decoration: none;}
a:hover{text-decoration: none;}
.lopl-login-bg { background: url('../images/lopl-login-box-bg.png') no-repeat;}
.lopl-login-box { width: 609px; height: 364px; margin:0; overflow: hidden; }
.lopl-login-box .lopl-login-up { padding: 8px 14px 7px 10px; height: 160px; overflow: hidden; }
.lopl-login-box a:hover { text-decoration: none;}


/**轮播图**/
.gb-login-up-l { float: left; width: 330px; height: 160px; overflow: hidden;}
.oas-slider-box { position: relative;} 
/*图片显示区域样式*/
.oas-slider-box li a { width: 100%; height: :100%; display: block; vertical-align: top;}
.oas-slider-box li a img { width: 100%; height: :100%; }
/*icon小图片区域样式*/
.oas-slider-box .oas-slider-ico { position: absolute; bottom: 10px; font-size: 0; text-align: right;}
.oas-slider-box .oas-slider-ico span { cursor: pointer; background: #373737; font-size: 12px; display: inline-block; vertical-align: top; text-align: center; }
.oas-slider-box .oas-slider-ico span.oas-slider-number { width: 18px; height: 18px; line-height: 18px; border:1px solid #585858; color: #ffe8bb; }
.oas-slider-box .oas-slider-ico span.oas-slider-dot { cursor: pointer; width: 1em; height: 1em; background: #000; border-radius: 50%; }
.oas-slider-box .oas-slider-ico span.active { cursor: default; background: #4f1f1f; color: #ffe8bb; font-weight: bold; border:1px solid #702c2c;}
/*左右图标按钮样式*/
.oas-slider-box a.oas-slider-btn { opacity: 0.4; filter: alpha(opacity=40); position: absolute; top:50%; margin-top: -11px; display: inline-block; vertical-align: top; width: 24px; height: 22px; background-image:url('../images/gsy-slider-btn.gif'); background-position: -9999px -9999px; background-repeat: no-repeat; }
.oas-slider-box a.oas-slider-btn:hover { opacity: 0.8; filter: alpha(opacity=80);}
.oas-slider-box a.next { right: 20px; background-position: -37px 0;}
.oas-slider-box a.prev { left: 20px; background-position:0 0;}



.lopl-login-up-r .lopl-login-up-r-t { color: #8eaefe;  font-size: 14px;}
.lopl-login-up-r {margin-top: 6px;float: right;width: 240px;}
.lopl-login-up-r ul {}
.lopl-login-up-r ul li { width: 100%; overflow: hidden; height: 24px;}
.lopl-login-up-r ul li a {  color: #d4dbf2; height: 24px;text-decoration: none; line-height:20px; display: inline-block;  overflow: hidden; }
.lopl-login-up-r ul li em {margin-top: 8px;float:left; margin-bottom: 3px;*margin-bottom: 4px; font-size: 0px; height: 4px; width: 4px; background: #7f2a1e; display: inline-block; margin-left: 4px; }
.lopl-login-up-r ul li span { cursor: pointer;padding-left: 6px;}
.lopl-login-up-r ul li a:hover{text-decoration: none;color: #ff8034;}
.lopl-login-down {  margin: 16px 0 0 25px; }
.lopl-login-left{ width:207px;height: 146px;float: left;}
.lopl-login-left h4{color: #8eaefe;font-size: 14px;line-height: 33px;font-weight: 100;height: 35px;}
.lopl-login-left .lopl-btn a{display: inline-block;width:159px;height: 40px;background: url('../images/lopl-login-bg.png') no-repeat 0 0px;  }
.lopl-login-left .lopl-btn a:hover{background-position: 0px -45px;}
.lopl-login-left .lopl-btn a.lopl-btn-google{margin-top: 16px;background-position: 0px -90px; }
.lopl-login-left .lopl-btn a.lopl-btn-google:hover{background-position: 0px -135px; }
.lopl-login-left .lopl-btn a span{color: #fff;display: inline-block;line-height: 40px;cursor: pointer; width:118px;float: right;text-align: center; }
.lopl-login-center{ width:200px;height: 160px;float: left;padding-top: 5px;}
.lopl-login-center h4{height: 30px;}
.lopl-login-center h4 em{width: 23px;float: left; height: 23px;background: url('../images/lopl-login-bg.png') 0px -379px;display: inline-block;}
.lopl-login-center h4 span{color: #8eaefe;line-height:23px;padding-left: 10px;float: left;font-size: 14px;font-weight: 100; }
.lopl-login-center .lopl-login-wrap-up {width: 100%;}
.lopl-login-center .lopl-login-wrap-up li{width: 100%;}
.lopl-login-center .lopl-login-wrap-up input,.lopl-login-center .lopl-login-wrap-up label{outline: none; color: #949bae;display: block; width: 192px;padding:0 0 0 6px; height: 23px;line-height: 23px; border: 1px solid #3b435a;background: #181d2a;}
.lopl-login-center .lopl-login-wrap-up p{text-align: right;color: #de3939;font-size: 10px;transform:scale(0.9);height: 20px;line-height: 20px;}
.lopl-login-center .lopl-login-wrap-down{position: relative;width: 100%;padding-top: 6px;}
.lopl-login-center .lopl-login-wrap-down ul li{height: 18px;width: 100%;font-size: 0px;}
.lopl-login-center .lopl-login-wrap-down ul li input{outline: none; display: inline-block;float: left;font-size: 0; margin-top: 3px;*margin-top:0px;}
.lopl-login-center .lopl-login-wrap-down ul li label{float: left;}
.lopl-login-center .lopl-login-wrap-down ul li span{color: #949bae;padding-left: 4px;font-size: 12px;}
.lopl-login-wrap-down .lopl-login-forget{position: absolute;right: 0px;top: 6px;color: #949bae;}
.lopl-login-wrap-down .lopl-login-forget a{color: #949bae;}
.lopl-login-right{ width:133px;height: 120px;padding-top:34px;float: left;padding-left: 20px;}
.lopl-login-right a{}
.lopl-login-right a{display: inline-block;width:133px;height: 43px;background: url('../images/lopl-login-bg.png') no-repeat 0 -186px;  }
.lopl-login-right a:hover{background-position: 0px -234px;}
.lopl-login-right a.lopl-btn-register{margin-top: 10px;background-position: 0px -281px; }
.lopl-login-right a.lopl-btn-register:hover{background-position: 0px -327px; }
.lopl-login-right a span{font-size: 18px; color: #fff;line-height: 40px;text-align:center;display: block;text-shadow:2px 2px 1px #000;}
