<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="../static/css/lopl_login.css?ver=2015111902" rel="stylesheet" type="text/css" />
<script src="../static/package/jquery.min.js?ver=2015111902" type="text/javascript"></script>
<script src="../static/package/oas.lang.js?ver=2015111902" type="text/javascript"></script>
<script type="text/javascript">
var pageType = "login";
</script>
</head>

<body class="lopl-login-bg" scroll="no">
<div class="lopl-login-box" >
	<div class="lopl-login-up">
		<!--轮播图-->
		<div class="gb-login-up-l lopl-login-up-l">
			<div class="oas-slider-box" id="gb-adsList-box"><ul></ul></div>	
		</div>
		<!--轮播图 结束-->
		<!--新闻信息-->
		<div class="gb-login-up-r lopl-login-up-r" id="gb-newsList-box">
			<div class="gb-login-up-r-t lopl-login-up-r-t"><script type="text/javascript">OASWriteContent('Gamebox_actionAndNews')</script></div>
			<ul class="gb-login-up-r-c lopl-login-up-r-c">
				<!--<li>
					<a href="">
						<em></em>
						<span>32131321</span>
					</a>
				</li>-->
			</ul>
		</div>
		<!--新闻信息 结束-->
	</div>
	<div class="lopl-login-down" id="gb-login-down-inti">
		<div data-selecter="parent" data-type="oas">
			<div class="lopl-login-left">
				<h4><script type="text/javascript">OASWriteContent('GameBox_OtherUser')</script></h4>
				<div class="lopl-btn">
					<a href="javascript:void(0)" onclick="OAS_GAMES_JS.facebook.login({'fail':'Fail to connect with facebook'},GSY.gamebox.FBloginCallback);" class="lopl-btn-facebook"><span><script type="text/javascript">OASWriteContent('Gamebox_AccountFacebook')</script></span></a>
					<a href="javascript:void(0)" onclick="OAS_GAMES_JS.google.login({'fail':'Fail to connect with google'},GSY.gamebox.GOOGLEloginCallback);" class="lopl-btn-google"><span><script type="text/javascript">OASWriteContent('Gamebox_AccountGoogle')</script></span></a>
				</div>
			</div>
			<div class="lopl-login-center">
				<h4><em></em><span><script type="text/javascript">OASWriteContent('Gamebox_AccountOasgames')</script></span></h4>
				<ul class="lopl-login-wrap-up">
					<li>
						<label data-name="usernameTip"><script type="text/javascript">OASWriteContent('GameBox_AccountTip')</script></label>
						<input class="gb-login-down-txt" type="text" style="display:none;" data-name="username" value="" />
						<p><!--<script type="text/javascript">OASWriteContent('GameBox_AccountError')</script>--></p>
					</li>
					<li>
						<label data-name="passwordTip"><script type="text/javascript">OASWriteContent('GameBox_PasswordTip')</script></label>
						<input class="gb-login-down-psd" type="password" style="display:none;" data-name="password" value="" />
						<p data-name="accpassError"><!--<script type="text/javascript">OASWriteContent('Gamebox_AccPassError')</script>--></p>
					</li>
				</ul>
				<div class="lopl-login-wrap-down">
					<ul>
						<li>
							<input type="checkbox" data-name="remember" checked="checked" id="yes1" />
							<label for="yes1"><span><script type="text/javascript">OASWriteContent('Gamebox_remember_password')</script></span></label>
						</li>
						<!--<li>
							<input type="checkbox" id="lopl-login-checkbox2" />
							<label for="lopl-login-checkbox2"><span><script type="text/javascript">OASWriteContent('Gamebox_Automatic_login')</script></span></label>
						</li>-->
					</ul>
					<span class="lopl-login-forget" style="right:-80px;"><script type="text/javascript">OASWriteContent('Gamebox_Forgot_password')</script></span>			
				</div>
			</div>
			<div class="lopl-login-right">
				<div class="gb-loginBox-btn"><a href="javascript:void(0)" onclick="GSY.gamebox.login($(this)); return false;" class="lopl-btn-login"><span><script type="text/javascript">OASWriteContent('Gamebox_Login')</script></span></a></div>
				<div><script type="text/javascript">OASWriteContent('Gamebox_Register')</script></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../static/package/oas.common.js?ver=2015111902"></script>
<script type="text/javascript" src="../static/scripts/oas.gamebox.js?ver=2015111902"></script>
<script type="text/javascript" src="../static/package/oas.library.js?ver=2018062801"></script>
<script type="text/javascript" src="../static/package/oas.slider.js?ver=2015111902"></script>
<script type="text/javascript" src="../static/scripts/oas.login.js?ver=2015111902"></script>
<script type="text/javascript">

//配置当前游戏名称和游戏图标
var GAME_CODE = GSY.util.getUrlParam('gameid');
GSY.gamebox.setLocalGameData({
	key : 'OAS_GAME_INFRO_' + GAME_CODE,
	type : true,
	value : LANG.gameConfig[GAME_CODE]
});


/**
 * [description] 自动登陆设置
 * @return {[type]} [description]
 */
;(function(){

	var parent = $('#gb-login-down-inti');
	var auto = parent.find('input[data-name=automatic]');
	var remember = parent.find('input[data-name=remember]');

	//设置自动登录
	auto.click(function() {
		//选中
		if($(this).is(':checked')){
			remember.attr('checked','checked');
		}
	});

	//记住密码操作
	remember.click(function(){
		//未选中记住密码
		if(!$(this).is(':checked')){
			auto.removeAttr('checked');
		}	
	});
})();





</script>
</body>
</html>
