/**登录器**/
html { height: 100%; }
body { height: 100%; margin: 0; font: normal 12px/1.5 Tahoma, Arial; color: #949bae; overflow-x: hidden; }
p, li, ul, ol, h1, h2, h3, h4, h5, h6, dl, dd, dt, img, a, div, td { margin: 0px; padding: 0px; border: 0px; word-wrap: break-word; word-break: normal; list-style: none; }
input, textarea, select { margin: 0px; padding: 0px; font-size: 12px; font-family: Tahoma }
* { padding: 0; margin: 0; }
a{text-decoration: none;}
a:hover{text-decoration: none;}
.lopl-login-bg { background: url('../images/lopt-login-box-bg.png') no-repeat;}
.lopl-login-box { width: 609px; height: 364px; margin:0; overflow: hidden; }
.lopl-login-box .lopl-login-up { padding: 9px 6px 7px 8px; height: 160px; overflow: hidden; }
.lopl-login-box a:hover { text-decoration: none;}


/**轮播图**/
.gb-login-up-l { float: left; width: 337px; height: 160px; overflow: hidden;}
.oas-slider-box { position: relative;} 
/*图片显示区域样式*/
.oas-slider-box li a { width: 100%; height:100%; display: block; vertical-align: top;}
.oas-slider-box li a img { width: 100%; height :100%; }
/*icon小图片区域样式*/
.oas-slider-box .oas-slider-ico { position: absolute; bottom: 10px; font-size: 0; text-align: right;}
.oas-slider-box .oas-slider-ico span { cursor: pointer; background: #373737; font-size: 12px; display: inline-block; vertical-align: top; text-align: center; }
.oas-slider-box .oas-slider-ico span.oas-slider-number { width: 18px; height: 18px; line-height: 18px; border:1px solid #585858; color: #ffe8bb; }
.oas-slider-box .oas-slider-ico span.oas-slider-dot { cursor: pointer; width: 1em; height: 1em; background: #000; border-radius: 50%; }
.oas-slider-box .oas-slider-ico span.active { cursor: default; background: #4f1f1f; color: #ffe8bb; font-weight: bold; border:1px solid #702c2c;}
/*左右图标按钮样式*/
.oas-slider-box a.oas-slider-btn { opacity: 0.4; filter: alpha(opacity=40); position: absolute; top:50%; margin-top: -11px; display: inline-block; vertical-align: top; width: 24px; height: 22px;  background-position: -9999px -9999px; background-repeat: no-repeat; }
.oas-slider-box a.oas-slider-btn:hover { opacity: 0.8; filter: alpha(opacity=80);}
.oas-slider-box a.next { right: 20px; background-position: -37px 0;}
.oas-slider-box a.prev { left: 20px; background-position:0 0;}



.lopl-login-up-r .lopl-login-up-r-t { color: #a5451e;  font-size: 14px;}
.lopl-login-up-r {margin-top: 6px;float: right;width: 244px;}
.lopl-login-up-r ul {}
.lopl-login-up-r ul li { width: 100%; overflow: hidden; height: 24px;}
.lopl-login-up-r ul li a {  color: #a5451e; height: 24px;text-decoration: none; line-height:20px; display: inline-block;  overflow: hidden; }
.lopl-login-up-r ul li em {margin-top: 8px;float:left; margin-bottom: 3px;*margin-bottom: 4px; font-size: 0px; height: 4px; width: 4px; background: #4b2a09; display: inline-block; margin-left: 0px; }
.lopl-login-up-r ul li span { cursor: pointer;padding-left: 6px;}
.lopl-login-up-r ul li a:hover{text-decoration: none;color: #563310;}
.lopl-login-down {  margin: 16px 0 0 20px; }
.lopl-login-left{ width:209px;height: 146px;float: left;}
.lopl-login-left h4{color: #a5451e;font-size: 14px;line-height: 35px;font-weight: 100;height: 38px; padding-left: 2px;}
.lopl-login-left .lopl-btn a{display: inline-block;width:159px;height: 40px;background: url('../images/lopl-login-bg.png') no-repeat 0 0px;  }
.lopl-login-left .lopl-btn a:hover{background-position: 0px -45px;}
.lopl-login-left .lopl-btn a.lopl-btn-google{margin-top: 16px;background-position: 0px -90px; }
.lopl-login-left .lopl-btn a.lopl-btn-google:hover{background-position: 0px -135px; }
.lopl-login-left .lopl-btn a span{color: #fff;display: inline-block;line-height: 40px;cursor: pointer; width:118px;float: right;text-align: center; }
.lopl-login-center{ width:198px;height: 160px;float: left;padding-top: 10px;}
.lopl-login-center h4{height: 30px;}
.lopl-login-center h4 em{width: 24px;float: left; height: 30px;background: url('../images/lopl-login-bg.png') 0px -379px;display: inline-block;}
.lopl-login-center h4 span{color: #a5451e;line-height:23px;padding-left: 10px;float: left;font-size: 14px;font-weight: 100; }
.lopl-login-center .lopl-login-wrap-up {width: 100%; position: relative; z-index: 2;}
.lopl-login-center .lopl-login-wrap-up li{width: 100%;}
.lopl-login-center .lopl-login-wrap-up li .gb-login-div{ width: 190px;padding:0 0 0 6px; height: 21px;line-height: 21px; border: 1px solid #cfa972;background: #cfa972;}
.lopl-login-center .lopl-login-wrap-up input,.lopl-login-center .lopl-login-wrap-up label{outline: none; border: none; color: #815f3d;display: block; height: 21px;line-height: 21px; background: #cfa972;}
.lopl-login-center .lopl-login-wrap-up input{ color: #563310;}
.lopl-login-center .lopl-login-wrap-up p{text-align: right;color: #de3939;font-size: 10px;transform:scale(0.9);height: 20px;line-height: 20px;}
/*账号下拉框*/
.lopl-login-center .lopl-login-wrap-up .gb-login-down-txt{ width: 168px;}
.lopl-login-center .lopl-login-wrap-up .gb-login-arrow-down{ background: url('../images/gb-css.png') 0px -1032px; height: 23px; width: 25px; display:block; position: absolute; right: 0px; top: 1px;}
.lopl-login-center .lopl-login-wrap-up .gb-login-arrow-up{ background-position: right -1032px; right: 0px;}

.lopl-login-center .lopl-login-wrap-up .lopl-login-wrap-list{ position: absolute; left: 0px; top: 25px; z-index: 9999999; width: 196px;border: 1px solid #9e7944; background: #cfa972; display: none;}
.lopl-login-center .lopl-login-wrap-up .lopl-login-wrap-list ul{max-height: 92px; overflow-x:hidden; overflow-y:auto; }
.lopl-login-center .lopl-login-wrap-up .lopl-login-wrap-list li{ color: #815f3d; height: 23px; line-height: 23px; width: 186px; padding: 0 6px; }
.lopl-login-center .lopl-login-wrap-up .lopl-login-wrap-list li:hover{ color: #563310; cursor: default; background: #e0c7a2;}

/*.lopl-login-center .lopl-login-wrap-up .lopl-login-wrap-list li span{ width: 146px; height: 20px; word-break:break-all; display:inline-block; word-wrap:break-word; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;
}*/

.lopl-login-center .lopl-login-wrap-up .lopl-login-wrap-list li i{background: url('../images/gb-css.png') 0px -1008px; width: 12px; height: 16px; float: right; display: none;}
.lopl-login-center .lopl-login-wrap-up .lopl-login-wrap-list li i:hover{ background-position: right -1008px; }
/*end*/
.lopl-login-center .lopl-login-wrap-down{position: relative;width: 100%;padding-top: 4px; z-index: 1;}
.lopl-login-center .lopl-login-wrap-down ul li{height: 18px;width: 100%;font-size: 0px;}
.lopl-login-center .lopl-login-wrap-down ul li input{outline: none; display: inline-block;float: left;font-size: 0; margin-top: 3px;*margin-top:0px;}
.lopl-login-center .lopl-login-wrap-down ul li label{float: left;}
.lopl-login-center .lopl-login-wrap-down ul li span{color: #563310;padding-left: 4px;font-size: 12px;}
.lopl-login-wrap-down .lopl-login-forget{position: absolute;right: 0px;top: 4px;color: #949bae;}
.lopl-login-wrap-down .lopl-login-forget a{color: #563310;}
.lopl-login-right{ width:125px;height: 120px;padding-top:32px;float: left;padding-left: 16px;}
.lopl-login-right a{display: inline-block;width:125px;height: 33px;background: url('../images/lopl-login-bg.png') no-repeat 0 -414px;  }
.lopl-login-right a:hover{background-position: 0px -459px;}
.lopl-login-right a:hover span{ color: #fff89e;text-shadow:0px 1px 0px #5e5c37;}
.lopl-login-right a.lopl-btn-register{margin-top: 17px; }
.lopl-login-right a.lopl-btn-register:hover{background-position: 0px -459px; }
.lopl-login-right a span{ font-weight: bold; font-size: 18px; color: #563310;line-height: 30px;text-align:center;display: block;text-shadow:0px 1px 0px #c4d349;}
