<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../static/css/oas.global.css?ver=2015111902" rel="stylesheet" type="text/css" />
<script src="../static/package/jquery.min.js?ver=2015111902" type="text/javascript"></script>
<script src="../static/package/oas.lang.js?ver=2015111902" type="text/javascript"></script>
</head>
<body scroll="no">
<div class="gb-loading"></div>
<script type="text/javascript" src="../static/package/oas.common.js?ver=2015111902"></script>
<script type="text/javascript" src="../static/scripts/oas.gamebox.js?ver=2015111902"></script>
<script type="text/javascript" src="../static/scripts/oas.game.js?ver=2015111902"></script>
</body>
</html>
